* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: sans-serif;
}

:root {
    --mcq-primary: hsl(153deg 28.05% 64.09%);
    --mcq-light: hsl(153deg 10.08% 52.88%);
    --mcq-dark: hsl(153deg 100% 20.55%);
    /* --mcq-light: #fff; */
    /* --mcq-dark: #000; */
    --mcq-gray: lightGray;
}

.hr {
    width: 100%;
    height: 1px;
    background-color: rgb(182, 180, 180);
    opacity: .7;
    margin: 3px 0px;
}

body {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #757575;
    /* overflow: hidden; */

    #aside_left {
        background-color: #fff;
        width: 40%;
        padding: 10px;
        align-self: flex-start;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        height: 100%;
        overflow: hidden;
        transition: all linear .3s;

        .aside_left_hide {
            margin-left: -100% !important;
        }

        .aside_left-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            position: relative;

            .title h2 {

                font-size: 20px;
            }

            .title span {
                font-size: 13px;
            }

            .close_btn {
                /* padding: 5px; */
                position: sticky;
                top: 10px;
                left: 10px;
                font-size: 30px;
                background-color: inherit;
                color: gray;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                font-weight: 600;
                cursor: pointer;

                /* on hover  */
                &:hover {
                    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
                    /* background-color: lightgray; */
                    color: black;
                }
            }

        }

        .aside_left-body {
            overflow-y: scroll;
            height: 92%;

            &::-webkit-scrollbar {
                display: none;

            }

            .aside_profile {
                display: flex;
                justify-content: start;
                align-items: center;
                margin: 5px 0px;


                .profile_img {
                    position: relative;

                    .after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 101px;
                        height: 101px;
                        border-radius: 50%;
                        border: 3px double var(--mcq-primary);
                    }

                    .activity_status {
                        position: absolute;
                        bottom: 5px;
                        right: 2px;
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        background-color: green;
                        border: 5px solid white;
                    }
                }

                .info p {
                    width: 100%;
                    font-size: 18px;
                    padding: 5px;
                    margin-left: 5px;
                    /* margin-bottom: 3px; */
                    /* background-color: lightgray; */
                }

                .info {
                    width: 60%;
                }

                .info p:last-child {
                    font-size: 15px;
                    margin-top: -3px;

                }

                .info p:first-child {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: var(--mcq-dark);
                    font-weight: 600;

                    .verified {
                        /* position: relative;
                        width: 20px;
                        height: 20px; */
                        /* background-color: green; */
                        border-radius: 50%;
                        display: inline;


                    }
                }

            }

            .aside_profile-bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 8px 0px;
            }

            .aside_profile-bottom a {
                text-decoration: none;
                padding: 8px 12px;
                background-color: lightgray;
                color: black;
                border-radius: 8px;
                font-weight: 600;

                .fa-solid {
                    margin-right: 8px;
                    color: var(--mcq-dark);
                }

                &:first-child {
                    color: white;
                    background-color: var(--mcq-dark);

                    .fa-solid {
                        color: white;
                    }
                }
            }

            .aside_left-tab {
                .tab_nav {
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid #f3f3f3;

                    .tab_item {
                        padding: 8px 12px;
                        cursor: pointer;
                        user-select: none;
                        /* transition: all 300ms ease-in-out; */
                        margin-top: 5px;
                        /* border-radius: 15px; */

                        &:hover {
                            background-color: rgb(240, 240, 240);
                        }

                        &.tab_item_active {
                            border-radius: 0px;
                            border-color: #f3f3f3 #f3f3f3 transparent #f3f3f3;
                            border-style: solid;
                            border-width: 1px;
                            background-color: #f3f3f3;
                            margin-bottom: -1px;
                            border-top-right-radius: 4px;
                            border-top-left-radius: 4px;
                        }
                    }
                }

                .tab_body {
                    background-color: #f3f3f3;
                    height: 100%;
                    /* padding: 5px 0px; */


                    .tab_content {
                        display: none;


                        .settings {
                            .input {
                                padding: 12px;
                                width: 100%;
                                margin: 3px 0px;
                                background-color: inherit;
                                border: 1px solid black;
                                font-size: 16px;
                                border-radius: 3px;
                            }

                            .form_text {
                                padding: 3px 0px;
                                font-size: 12px;
                            }

                            display: flex;
                            /* border-radius: 3px; */
                            /* border-color: black; */
                            /* border-style: solid;
                            border-width: 1px;
                            border-color: transparent transparent rgba(197, 197, 197, 0.575) transparent; */
                            padding: 12px 8px;
                            /* margin-bottom: 10px; */

                            #negative_mark,
                            #selectTopNext,
                            #optionDisabled {
                                width: 20px;
                                height: 20px;
                                margin-right: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

#quiz_app {
    width: 100%;
    height: 100%;
    /* box-shadow: 0px 10px 30px 0px rgba(197, 197, 197, 0.575); */
    /* border: 5px solid gray; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    /* background-color: gray; */
    background-color: #00693a;
    /* background-color: var(--mcq-light); */
    /* background: linear-gradient(180deg, var(--mcq-light), transparent, transparent); */
    /* position: relative; */
    z-index: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: start;
    overflow: hidden;
    position: relative;

    .close_btn {
        /* padding: 5px; */
        position: sticky;
        top: 10px;
        left: 10px;
        font-size: 30px;
        background-color: inherit;
        color: #fff;
        /* border-radius: 50%; */
        width: 35px;
        height: 35px;
        font-weight: 600;
        cursor: pointer;

        /* on hover  */
        &:hover {
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
            background-color: lightgray;
            /* color: black; */
        }
    }


    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 45%;
        /* background: linear-gradient(0deg, #fff, var(--mcq-light)); */
        z-index: -1;
    }

    .qiz_header {
        /* padding: 10px; */
        /* background-color: var(--mcq-primary); */
        border-radius: 8px;
        /* flex-grow: 1; */
        text-align: center;
        max-width: 570px;
        width: 100%;
        margin: 0 auto 20px auto;

        .alert {
            font-size: 10px;
            margin-bottom: 2px;
        }

        .h_top {
            display: inline-flex;
            justify-content: space-around;
            align-items: center;
            background-color: var(--mcq-light);
            padding: 5px;
            border-radius: 3px;
            color: white;

            .total_time {
                padding: 4px 8px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #fff;
            }

            .group {
                font-size: 13px;
                background-color: var(--mcq-dark);
                display: inline-block;
                padding: 4px;
                display: flex;
                align-items: center;
                border-radius: 3px;
            }

        }

        .institute {
            font-size: 22px;
            font-weight: 600;
            text-transform: capitalize;
            padding: 4px;
            color: lightgoldenrodyellow;
        }

        .timeAndMark {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 4px;
            color: white;

            .left {
                display: flex;
                align-items: center;
                border-radius: 8px;
                background-color: var(--mcq-light);
                padding: 8px;

                .total_mark {
                    background-color: var(--mcq-dark);
                    padding: 8px;
                    border-radius: 8px;
                }

                .start_time {
                    padding: 8px;
                    margin: 0px 5px;
                    background-color: var(--mcq-dark);
                    border-radius: 8px;
                }

                .end_time {
                    padding: 8px;
                    background-color: var(--mcq-dark);
                    border-radius: 8px;
                }
            }

            .total_time_left {
                padding: 8px;
                /* font-size: 18px; */
                /* border: 1px solid var(--mcq-dark); */
                /* border-radius: 50px; */
                /* background: linear-gradient(0deg, white, var(--mcq-dark), white); */
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                /* background-color: var(--mcq-light); */
                border-radius: 8px;

                .tm_left {
                    margin: 5px 0px;
                    background: var(--mcq-dark);
                    font-size: 25px;
                    display: flex;
                    align-items: center;
                    /* margin: 0px 3px; */
                    padding: 8px 25px;
                    border-radius: 25px;

                    .tm_left_min {
                        font-weight: 600;
                        /* padding: 3px; */
                        /* background-color: var(--mcq-dark); */
                    }

                    .min_sec_devider {
                        padding: 0px 5px;
                    }

                    .tm_left_sec {
                        font-size: 18px;
                        line-height: 28px;
                    }
                }
            }

        }
    }

    .qiz_body {
        padding: 15px;
        margin: 5px 0px;
        border-radius: 8px;
        width: 100%;
        z-index: 1;
        background-color: var(--mcq-light);
        position: relative;

        .form_active {
            /* animation: fadeInUp 2s ease-in-out forwards; */
            top: 0 !important;
            right: 0 !important;
            transition: all linear .3s;
        }

        .form_hide {
            top: 0 !important;
            right: 300% !important;
            transition: all linear .3s;
        }

        .form_wrapper {
            width: 100%;
            right: -200%;
            position: absolute;
            top: 0;
            padding: 15px;
            transition: all linear .3s;
            overflow: hidden;
            display: flex;
            align-items: center;
            height: 100%;


            .question_label {
                font-size: 15px;
                text-transform: capitalize;
                padding: 7px;
                color: #fff;
                display: inline-block;

                background-color: var(--mcq-dark);
                font-weight: bold;
            }

            .exam_form {
                .question {
                    border-bottom: 1px solid var(--mcq-gray);
                    padding: 5px 0px;
                    position: relative;

                    .question_input {
                        width: 100%;
                        background-color: inherit;
                        padding: 5px;
                        font-size: 20px;
                        font-weight: 600;
                        text-wrap: wrap;
                        color: #ffe9e9;
                    }

                    .question_img {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        /* width: 50px; */
                        /* height: 50px; */
                        z-index: -1;
                        opacity: .2;
                    }
                }

                .options {
                    padding: 15px;
                    margin-top: 15px;

                    .option_items {
                        margin: 5px 0px;
                        display: flex;
                        padding: 6px;
                        border-radius: 25px;
                        /* background-color: var(--mcq-light); */

                        .option_label {
                            /* background-color: var(--mcq-dark); */
                        }

                        .option_input {
                            width: 40px;
                            margin: 0;
                        }

                    }
                }

                .button {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    /* overflow: hidden; */
                    z-index: 1;

                    .question_counter {
                        padding: 5px;
                        font-weight: 600;
                        position: relative;
                        z-index: 1;

                        &::after {
                            content: "";
                            position: absolute;
                            top: 50%;
                            right: -20px;
                            border-radius: 12px;
                            transform: translateY(-50%);
                            height: 30px;
                            width: 300px;
                            background-color: #fff;
                            z-index: -1;
                        }
                    }

                    /* margin-top: 25px; */
                    .sub_btn {
                        width: 100px;
                        height: 40px;
                        border-radius: 25px;
                        float: right;
                        /* background: linear-gradient(-135deg, var(--mcq-dark), var(--mcq-primary)); */
                        background-color: var(--mcq-dark);
                        color: #fff;
                        font-size: 18px;
                        font-weight: 600;
                        cursor: pointer;
                        position: relative;
                        transition: all linear .3s;

                        &::after {
                            content: ">";
                            position: absolute;
                            top: 50%;
                            right: 15px;
                            transform: translateY(-50%);
                            transition: all linear .3s;
                            opacity: 0;

                        }

                        &:hover {
                            /* background: lightgray; */
                            /* opacity: .8; */
                            padding-right: 10px;
                            transition: all linear .3s;

                            &::after {
                                right: 20px;
                                opacity: 1;
                                transition: all linear .3s;

                            }
                        }
                    }
                }

            }

        }

        .exam_finished_box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            width: 100%;
            height: 100%;

            .fns_btn {
                padding: 15px 25px;
                background-color: var(--mcq-dark);
                color: #000;
                font-size: 23px;
                font-weight: 600;
                cursor: pointer;
                border-radius: 12px;
            }

            .info_text {
                font-size: 14px;
                padding: 8px 0px;
                color: #000;
            }
        }

    }

    .qiz_footer {
        /* width: 100%; */
        /* max-height: 500px; */
        overflow: hidden;

        .ff_section {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;


            .ff_confirm {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;

                #ffc_imp {
                    width: 20px;
                    height: 20px;
                    margin: 10px;
                }

                #ffc_imp:checked {
                    background-color: green;
                }

            }

            .ff_confirm label {
                color: white;
                font-size: 15px;
            }

            .button {
                text-decoration: none;
                line-height: 1;
                border-radius: 1.5rem;
                overflow: hidden;
                position: relative;
                box-shadow: 10px 10px 20px rgba(0, 0, 0, .05);
                background-color: #fff;
                color: #121212;
                border: none;
                cursor: pointer;
            }

            .button-decor {
                position: absolute;
                inset: 0;
                background-color: var(--clr);
                transform: translateX(-100%);
                transition: transform .3s;
                z-index: 0;
            }

            .button-content {
                display: flex;
                align-items: center;
                font-weight: 600;
                position: relative;
                overflow: hidden;
            }

            .button__icon {
                width: 48px;
                height: 40px;
                background-color: var(--clr);
                display: grid;
                place-items: center;
            }

            .button__text {
                display: inline-block;
                transition: color .2s;
                padding: 2px 1.5rem 2px;
                padding-left: .75rem;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                max-width: 150px;
            }

            .button:hover .button__text {
                color: #fff;
            }

            .button:hover .button-decor {
                transform: translate(0);
            }
        }

        .tf_btn {
            padding: 10px 15px;
            font-size: 18px;
            background-color: #fff;
            margin-bottom: 10px;
            color: var(--mcq-dark);
            text-align: center;
            text-transform: uppercase;
        }

        .footer_body {
            /* width: 100%; */
            /* padding: 0px 10px; */
            background-color: #fff;
            border-radius: 8px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            /* overflow-y: scroll; */
            /* height: 100%; */
        }

        .footer_item {
            /* padding: 5px; */
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            border: 1px solid var(--mcq-light);
            margin: 3px;

        }

        .footer_active {
            /* width: 40px;
            height: 40px; */
            background-color: var(--mcq-dark);
            color: #fff;
            font-weight: 600;
            margin: 4px;
        }

        .footer_error {
            border: 2px solid red;
            color: red;
            font-weight: 600;

        }

        .footer_correct {
            font-weight: 600;
            color: var(--mcq-dark);
            border: 2px solid var(--mcq-dark);
        }


    }

    #setup_exam {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        /* opacity: .7; */
        /* border: 1px solid #fff; */
        background-color: gray;
        border-radius: 8px;
        /* backdrop-filter: blur(25px); */
        transition: all linear 0.3s;
        /* overflow-y: scroll; */
        z-index: 1;
        /* backdrop-filter: blur(50px); */
        box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, .3);

        .ex_wrapper {
            border: 1px solid #fff;
            background-color: #fff;
            padding-bottom: 15px;
            max-width: 570px;
            width: 90%;
            height: auto;
            z-index: 5;

            .sx_header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 16px;
                position: sticky;
                top: 0;
                width: 100%;
                background: #fff;
                box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
                margin-bottom: 20px;

                .h5 {
                    font-size: 28px;
                    line-height: 40px;
                    font-family: fantasy;
                }

                .p {
                    font-size: 12px;
                }

                .sx_close_btn {
                    padding: 8px;
                    cursor: pointer;
                    background-color: red;
                    color: white;
                    border-radius: 3px;
                }

            }

            .sx_body {
                padding: 8px 16px;

                .setting_div,
                .target_question {
                    padding: 0px 5px;
                    margin-bottom: 15px;
                }

                .input {
                    padding: 12px;
                    width: 100%;
                    margin: 3px 0px;
                    background-color: inherit;
                    border: 1px solid black;
                    font-size: 16px;
                    border-radius: 3px;
                }

                .form_text {
                    font-size: 12px;
                }

                .chose_layout {
                    padding: 15px 0px;

                    .cl_body {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        /* padding: 8px; */

                        .cl_left {
                            .cl_item {
                                padding: 15px 8px;
                                background-color: lightgray;
                                margin-bottom: 5px;

                                .h4 {
                                    margin-bottom: 5px;
                                }
                            }
                        }

                        .cl_right {
                            justify-self: center;

                            .cl_right_item {}
                        }
                    }
                }

                .settings {
                    display: flex;
                    /* border-radius: 3px; */
                    /* border-color: black; */
                    border-style: solid;
                    border-width: 1px;
                    border-color: transparent transparent rgba(197, 197, 197, 0.575) transparent;
                    padding: 12px 0px;
                    margin-bottom: 10px;

                    #negative_mark,
                    #selectTopNext,
                    #optionDisabled {
                        width: 20px;
                        height: 20px;
                        margin-right: 15px;
                    }
                }

                .start_exam_button {
                    flex: 1;
                    float: right;
                    clear: both;
                    border-radius: 8px;
                    padding: 15px 25px;
                    font-weight: 600;
                    background-color: var(--mcq-dark);
                    cursor: pointer;
                    box-shadow: 5px 0px 15px 0px rgba(197, 197, 197, 0.575);
                    color: white;

                    &:hover {
                        opacity: 0.8;
                        box-shadow: 10px 0px 25px 0px rgba(197, 197, 197, 0.575);

                    }
                }
            }
        }
    }

    .corner_element {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        /* background-color: white;; */
        /* border: 1px solid black; */
        overflow: hidden;
        border-radius: 10px;
        display: none;

        .corner_item {
            position: absolute;
            width: 250px;
            height: 250px;
            background: linear-gradient(90deg, transparent, var(--mcq-primary), transparent);
            border-radius: 50%;
            filter: blur(80px);

            &:nth-child(1) {
                top: -100px;
                left: -100px;
            }

            &:nth-child(2) {
                top: -100px;
                right: -100px;
                ;
            }

            &:nth-child(3) {
                bottom: -100px;
                left: -100px;
            }

            &:nth-child(4) {
                bottom: -100px;
                right: -100px;
            }
        }
    }

    .exam_layout_1 {
        display: flex;
        align-items: start;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;

        .qiz_body {
            height: 100%;
            width: 600px !important;
            height: 100% !important;
            overflow: hidden;
        }

        .qiz_footer {
            width: 30% !important;
            border-radius: 8px;
            /* height: 500px !important; */
            /* margin-left: 20px; */
            /* overflow-y: scroll; */
            align-self: flex-start;
            height: 400px;
            overflow-y: scroll;
        }

    }

    .exam_layout_2 {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 100%;
        height: 100%;

        .qiz_body {
            width: 100% !important;
            height: 90%;
            overflow: hidden;
        }

        .qiz_footer {
            width: 100% !important;
            height: 110px;
            overflow-y: scroll;
        }


    }


}

.setup_exam_active {
    /* animation: fadeInUp 1s ease-in forwards; */
    transition: all linear 0.3s;
    top: -300% !important;

}

input[type='radio'] {
    /* display: none; */
}


input[type='radio']:checked {
    background-color: #ffa500;
}